<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{cityWeather.name}}: 5 day / 3 Hour forecast</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>



  <ion-list>
    <ion-item *ngFor="let weather of forecast">
      <ion-thumbnail item-left>
        <img src="http://openweathermap.org/img/w/{{weather.weather[0].icon}}.png">
      </ion-thumbnail>
      <h2>{{weather.dt * 1000 | date: 'yMMMdjms' }}</h2>
      <h3>High {{weather.main.temp_max | temperature}}</h3>
      <h3>Low {{weather.main.temp_min | temperature}}</h3>
    </ion-item>
  </ion-list>

</ion-content>