<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Sunny Days
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-fab top right edge>
    <button ion-fab mini color="danger" (click)="addWeather()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>


  <ion-list>

    <weather-el [weather]="localWeather" (viewMore)="viewForecast($event)">
    </weather-el>


    <weather-el *ngFor='let weather of weatherList' [weather]="weather" (viewMore)="viewForecast($event)">
    </weather-el>


  </ion-list>






</ion-content>