
<ion-header>

  <ion-navbar>
    <ion-title>Add Weather</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>


  <form (ngSubmit)="logform()">
    <ion-list>

      <ion-item>
        <ion-label fixed>City</ion-label>
        <ion-input type="text" [(ngModel)]='data.city' [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Country</ion-label>
        <ion-select [(ngModel)]='data.country' [ngModelOptions]="{standalone: true}">
          <ion-option value="uk">United Kingdom</ion-option>
          <ion-option value="us">United States</ion-option>
             <ion-option value="pt">Portugal</ion-option>

        </ion-select>
      </ion-item>

    </ion-list>

    <div padding>

      <button ion-button block type="submit">
    Add Weather
    </button>
    </div>
  </form>

</ion-content>